<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/theo/Documents/CODE/PROJECTS/_MISC_008_PROJECTS_OSX/apps/Kinect1473/kinectExample1473/kinectExample.xcodeproj</string>
</dict>
</plist>
